$light-purp: (
   background: #604d8a,
);

$light-purp-hover: (
    background: rgba(96, 77, 138, 0.8),
    
);

$dark-purp: (
    background: #462F79,
);

$gold-color: (
    background: #F4C05D,
);

$black: (
    color: #000000,
);

$light-gray: (
    background-color:#c3c3c3,
);

$gold-rgb: (
    color: rgb(255, 255, 0),
)

