@use "./colors";
@use "./mixins";



.hg__logo:hover{
    transform: scale(1.2);
   
}



 .main__name:hover,
 .main__name:focus {
   background-size: 0 0.1em, 100% 0.1em;
 }

.main__name{
    transition: background-size 400ms;

}






// question dropdown



  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    color: map-get(colors.$light-blue, "color");
    transform: scale(1.05);
  }


  .dropdown-content a:hover {
    color: white;
    transform: scale(1.02);
  }

  .dropdown-content a:nth-of-type(3) {
    border-bottom: none;
  }
  


    /* Toon het dropdown-menu met een fade-in animatie */
    .dropdown-content.show {
        animation: fadeIn 0.5s ease forwards;
        color: white;
      }
      
      /* Definieer de fadeIn animatie */
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }





      //Uday vOLUME 



      .volume-button {
        &:hover {
            transform: scale(1.2);
            transition: transform 0.2s ease;
        }
    }
    
    .volume-slider {
        -webkit-appearance: none;
        width: 0;
        transition: width 0.2s ease;
    
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            cursor: pointer;
            transition: margin-top 0.2s ease;
            margin-top: -0.205rem;
        }
    
        &.active {
            width: 6.25rem;
        }
    }
    
    .volume-slider:not(.active)::-webkit-slider-thumb {
        width: 0;
    }


    
  .buttonWrapper__quest:hover{
    cursor: pointer;
    transition: 3s;
    color: white;
  }


  .previous-question:hover {
    cursor: pointer;
    transition: 0.4s;
    color: white;
    border-radius: 10%;
  }
  
  .next-question:hover {
    cursor: pointer;
    transition: 0.4s;
    color: white;
    border-radius: 10%;
  }


  
  .button_eye:hover{
    cursor: pointer;
    color: white;
    transition: 0.4s;
  }
  .button_mouth:hover{
    cursor: pointer;
    color: white;
    transition: 0.4s;
  }

  .button_nose:hover{
    cursor: pointer;
   color: white;
   transition: 0.4s;
  }


  .button_next:hover {
    cursor: pointer;
    color: white; 
    border-radius: 1rem  1rem 1rem 1rem;
    transition: 0.4s;
    transform: scale(1.1);
  }
  
  .button_previous:hover {
    cursor: pointer;
    color: white; 
    border-radius: 1rem  1rem 1rem 1rem;
    transition: 0.4s;
    transform: scale(1.1);
  }