$light-purp: (
   background: #604d8a,
);

$light-purp-hover: (
    background: rgba(96, 77, 138, 0.8),
    
);

$dark-purp: (
    background: #462F79,
);

$gold-color: (
    background: #F4C05D,
);

$dark-gold: (
    color:#8a7c00
);

$dark-gold-background: (
    background:#8a7c00
);

$light-blue: (
    background-color: #2980B9
);

$white: (
    color: #ffffff
);

$background-white: (
    background-color: #ffffff
);

$black: (
    background-color: #000000
);

$yellow: (
    color: #ffe600
);

$gold: (
    background: #ffd700
);

$dark-grey: (
    background: #201e1e
);